*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root{
  --height : 450 px ;
  --width : 450 px ;
}



/* this is the coloer of the background*/
main{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}


.container{
  min-height: var(--height);
  width: var(--width);
  position: relative;
}

section{
  min-height: var(--height);
  width : var(--width);
  background: rgba(1, 19, 51, 0.5); 
  border-radius: 1.5rem;
  border : 1px solid rgba(1, 19, 51, 0.7);
  border-right : 1px solid rgba(1, 19, 51, 0.3);  
  border-bottom : 1px solid rgba(1, 19, 51, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}


.circle1 , .circle2{
  background: rgba(1, 19, 51, 0.4);
  height: 250px;
  width: 250px;
  position: absolute;
  border-radius: 50%;
}

.circle1{
  top : -70% ;
  right : -70%;
}

.circle2{
  bottom : -70% ;
  left : -70% ;
}
