*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root{
  --height : 450 px ;
  --width : 450 px ;
}



/* this is the coloer of the background*/
main{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
  font-family: sans-serif;
}


.container{
  min-height: var(--height);
  width: var(--width);
  position: relative;

}

section{
  min-height: 450px;
  width : 450px;
  background: rgba(1, 19, 51, 0.5); 
  border-radius: 1.5rem;
  border : 1px solid rgba(1, 19, 51, 0.7);
  border-right : 1px solid rgba(1, 19, 51, 0.3);  
  border-bottom : 1px solid rgba(1, 19, 51, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2rem);
  padding: 3rem;
}


.circle1 , .circle2{
  background: rgba(1, 19, 51, 0.4);
  height: 250px;
  width: 250px;
  position: absolute;
  border-radius: 50%;
}

.circle1{
  top : -70px ;
  right : -70px;
}

.circle2{
  bottom : -70px ;
  left : -70px ;
}


.title{
  width:100%;
}
.title h1{
  color : #FFF ;
  font-weight: 600;
  font-size : 2rem ;
  opacity: 0.9;
  margin-bottom: 20px;
  position: relative;
}

.title h1  ::before{
  content: '';
  position: absolute;
  left : 0;
  bottom: -10px;
  width : 100px;
  height: 4px;
  background-color: #fff;
}


form{
  padding: 1px;
}


form .input-box {
  width : 100% ;
  margin-top: 20px;

}

form .input-box input{
  width: 100%;
  background: rgb(245, 242, 242);
  border : 1px solid rgba(125,122,122,0.2);
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 1px;
  color:rgba(0,0,0,0.9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.04);
}

form .input-box input ::placeholder{
  color : rgba(0, 0, 0, 0.3);

}

form .input-box input[type='submit']{
  background: rgba(241, 236, 236, 0.724);
  font-weight: 700;
  color :#4679ca ;
  margin-bottom: 20px;
  cursor: pointer;
}


form .link-text{
  color: rgba(248, 251, 254, 0.927);
  margin-top: 15px;
  font-size: 0.85rem;
}

form .link-text a{
  text-decoration: none;
  color: #4679ca;
  font-size: 700;
  
}

.container-images{
  width:100% ;
  height: 100%;
  position: relative;

}

.container-images img{
  position: absolute;
  bottom: 0;
}

